.count-top{
	color:#3c8dbc;
	font-size:13px;
}
.count{
	color:#3c8dbc;
	font-size:40px;
}


.btn-rd{
	background-color:#3c8dbc;
	color:#fff;
	font-size:13px;
}

.control-label{
	padding-top:5px;
}

.fr{
	color:#3c8dbc;
	font-size:17px;
}