.count-top{
	color:#3c8dbc;
	font-size:13px;
}
.count{
	color:#3c8dbc;
	font-size:40px;
}


.btn-rd{
	background-color:#3c8dbc;
	color:#fff;
	font-size:13px;
}

.control-label{
	padding-top:5px;
}

.fr{
	color:#3c8dbc;
	font-size:17px;
}
.login{
	color: #fff
}
.login a{
	color: #fff;
}
  .ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }